{{ template "base.html" $ }}
{{ define "title" }}
Sample {{ .ID }}
{{ end }}
{{ define "head-extra" }}
<style>
  #transcript textarea {
    width: 100%;
    height: 300px;
  }

  #metadata {
    display: grid;
  }

  #metadata .col1 {
    grid-column: 1;
  }

  #metadata .col2 {
    grid-column: 2;
  }

  video::cue {
    font-size: large;
  }
</style>
{{ end }}
{{ define "body" }}
<section id="metadata">
  <h2>Metadata</h2>
  <span class="col1">ID:</span>
  <code class="col2">{{ .sample.ID }}</code>
  <span class="col1">
    Start:
  </span>
  <span class="col2">
    {{ .sample.Start | formatUser $.tzloc }} in {{ $.tzloc }},
  </span>
  <span class="col2">
    {{ .sample.Start | formatUser .sample.Start.Location }} in original timezone ({{ printTZ .sample.Start }}).
  </span>
  <span class="col1">Duration</span>
  <span class="col2">{{ .sample.Duration }}</span>
</section>
<section id="playback">
  <h2>Playback</h2>
  <video controls width="100%" height="100px">
    {{ range .sample.Media }}
    <source src="/file/{{ . }}" type="{{ filenameToMime . }}">
    {{ end }}
    <track kind="captions" src="/file/{{ .sample.ID }}.vtt" default label="Transcript" srclang="en">
  </video>
</section>
<section id="summary">
  {{ if .sample.Summary }}
  <h2>Summary</h2>
  {{ .sample.Summary }}
  {{ else }}
  <h2>Add Summary</h2>
  {{ end }}
  <form action="/sample/{{ .sample.ID }}/summary" method="post">
    <textarea name="summary" required value="{{ .sample.Summary }}"></textarea>
    <button type="submit">
      {{ if .sample.Summary }}
      Update Summary
      {{ else }}
      Add Summary
      {{ end }}
    </button>
  </form>
</section>
{{ if .sample.Transcript }}
<section id="transcript">
  <h2>Transcript</h2>
  <textarea readonly>{{ .sample.Transcript }}</textarea>
</section>
{{ end }}
{{ end }}
