{{ template "base.html" $ }}
{{ define "title" }}
Samples
{{ end }}
{{ define "body" }}
<form>
  <label>
    After
    <input type="datetime-local" name="time_start" value="{{ if .query.TimeStart }}{{ .query.TimeStart | formatDatetimeLocalHTML $.tzloc }}{{ end }}" />
  </label>
  <label>
    Before
    <input type="datetime-local" name="time_end" value="{{ if .query.TimeEnd }}{{ .query.TimeEnd | formatDatetimeLocalHTML $.tzloc }}{{ end }}" />
  </label>
  <label>
    Full Text Search
    {{ if not .allSamplesHaveTranscripts }}
    (not all samples have transcripts)
    {{ end }}
    <input type="text" name="query" value="{{ .query.Query }}" />
  </label>
  <input type="submit" value="Filter" />
</form>
<h2>Samples</h2>
<ol>
{{ range .samples }}
  <li>
    {{ template "sample" (dict "sample" . "tzloc" $.tzloc) }}
    {{ if ne .Snippet "" }}
    {{ .Snippet | renderMarkdown }}
    {{ end }}
  </li>
{{ end }}
</ol>
{{ end }}


