{{ template "base.html" $ }}
{{ define "title" }}
Sample {{ .ID }}
{{ end }}
{{ define "head-extra" }}
<style>
  #transcript textarea {
    width: 100%;
    height: 300px;
  }
</style>
{{ end }}
{{ define "body" }}
<p>
  ID: <code>{{ .sample.ID }}</code>
</p>
<p style="display: flex; gap: 8px;">
  <span>
    Start:
  </span>
  <span style="display: flex; flex-direction: column;">
    <span>
      {{ .sample.Start | formatUser $.tzloc }} in {{ $.tzloc }},
    </span>
    <span>
      {{ .sample.Start | formatUserOrig }} in original timezone ({{ printTZ .sample.Start }})
    </span>
  </span>
</p>
<p>
  Duration: {{ .sample.Duration }}
</p>
<video controls width="100%" height="100px">
  {{ range .sample.Media }}
  <source src="/file/{{ . }}" type="{{ filenameToMime . }}">
  {{ end }}
  <track kind="captions" src="/file/{{ .sample.ID }}.vtt" default label="Transcript" srclang="en">
</video>
<section id="summary">
  {{ .sample.Summary }}
</section>
<section id="transcript">
  <textarea readonly>{{ .sample.Transcript }}</textarea>
</section>
{{ end }}
